<%- include('cabecalho') %>
<%- include('menu') %>

<div class="container">

    <h1>
        Artigos
        <% if(filtro) { %>
            de <%=filtro.nome%>
        <% } %>

    </h1>

<%
    var i=-1;
    var conta=0;
     artigos.forEach(function(artigo){ 
        i++;
        if( i>=(parseInt(pagina)*parseInt(quantidade)) ) {
            if( conta<parseInt(quantidade) ) {
        %>
                <h3><a href="/artigo/<%=artigo._id%>"><%=artigo.titulo%></a> <small>por <a href="/artigos/<%=artigo.autor.id%>"><%=artigo.autor.nome%></a></small></h3>
                <p><small><%= formataData(artigo.criado)%>
                <% if(artigo.atualizado) { %>
                    <br>Atualizado em <%=formataData(artigo.atualizado)%>
                <% } %>
                </small></p>
                <p><%=artigo.resumo%></p>
                <hr>
        <%
                conta++;
             }
        }
     }); %>

    <p>
    <% if(parseInt(quantidade)>conta) { %>
        Mais antigas
    <% } else { 
        if(!filtro) {
    %> 
            <a href="/artigos/pagina/<%=(parseInt(pagina)+1)%>">Mais antigas</a>
    <%  } else { %>
            <a href="/artigos/<%=filtro.id%>/pagina/<%=(parseInt(pagina)+1)%>">Mais antigas</a>
     <%   }
     } %>
        
     &#0149;
    <% if(parseInt(pagina)==0) { %>
        Mais recentes
    <% } else {  
        if(!filtro) {
    %> 
            <a href="/artigos/pagina/<%=(parseInt(pagina)-1)%>">Mais recentes</a>
    <%  } else { %>
            <a href="/artigos/<%=filtro.id%>/pagina/<%=(parseInt(pagina)-1)%>">Mais recentes</a>
     <%   }
     } %>
    </p>
</div>

<%- include('rodape') %>