<%- include('../cabecalho') %>
<div class="container">
    <h1>Artigos</h1>
    <p><a href="/admin/autores/novo" id="btnIncluir" type="button" class="btn btn-primary">Novo</a></p>
    <table class="table table-striped">
        <thead>
            <th>Título</th>
            <th>Autor</th>
            <th>Criado em</th>
            <th>Atualizado em</th>
            <th></th>
        </thead>
        <tbody id="tabela">
        <% artigos.forEach(function(artigo) { %>
            <tr>
                <td><%= artigo.titulo %></td>
                <td><%= artigo.autor.nome %></td>
                <td><%= artigo.criado.toLocaleString() %></td>
                <td><%= artigo.atualizado %></td>
                <td>
                    <% if(artigo.atualizado) { %>
                        <%= artigo.atualizado.toLocaleString() %>
                    <% } %>
                <td><a class="btn btn-info" href="/admin/artigos/<%= artigo._id %>"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<%- include('../rodape') %>